/* Base Application Styles */
@font-face{
  font-family: "icons-turn-arrow";
  src: url("../fonts/icons/turn.svg");
}

html, body {
  width: 100%;
  height: 100%;
  background: #222;
}
.content {
  width: 100%;
  height: 100%;
}
/* stage --start*/
.stage{
  position: relative;
  width: 100%;
  height: 700px;
  
}
/*stage --end*/

/* img --start*/
.img-sec{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #ddd;
  perspective: 1800px;
}
figcaption{
  text-align: center;
}
.img-title{
  margin-left: 20px;
  color: #a7a0a2;
  font-size: 16px;
}
.img-figure{
  position: absolute;
  width: 320px;
  height: 360px;
  margin: 0;
  padding: 40px;
  background-color: #fff;
  box-sizing: border-box;
  transform-origin: 0 50% 0;
  transform-style: preserve-3d;
  transition:  transform .6s ease-in-out, left .6s ease-in-out, top .6s ease-in-out;
}
.img-figure img{
  width: 250px;
  height: 260px;
}
.is-inverse {
    transform: translate(320px) rotateY(180deg);
}
.img-back{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 50px 40px;
  overflow: auto;
  color: #a7a0a2;
  font-size: 22px;
  line-height: 1.25;
  text-align: left;
  background: #fff;
  box-sizing: border-box;
  transform: rotateY(180deg) translateZ(1px);
  backface-visibility: hidden;
}

/* img --end*/

/*controller --start*/
.controller-nav{
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 30px;
  z-index: 101;
  text-align: center;
}

.controller-unit{
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  background-color: #aaa;
  border-radius: 50%;
  transform: scale(.5);

}
.controller-unit.is-center{
  background-color: #999;
  transform: scale(1);
}
.controller-unit.is-center::after{
  font-family: "icons-turn-arrow";
  content: "\e600";
  color: #fff;
  line-height: 30px;
}
/*controller --end*/